@import 'mixins/media.scss';

.product-card{
    width: 100%;
    display: flex;
    flex-direction: column;

    &:hover{
        .product-card__media{
            background-color: var(--bg-hover-color);

            .price-per-day{
                pointer-events: all;
                opacity: 1;
            }
        }
    }

    &__media{
        position: relative;
        padding: 60px 20px 0;
        margin-bottom: 10px;
        border-radius: 20px;
        transition: all ease-in-out 0.3s;

        @include sm-max {
            padding: 10px 37.5px 0;
            margin-bottom: 5px;
        }

        &-image{
            display: flex;

            img{
                width: 100%;
                height: auto;
            }
        }

        .product-tags{
            display: flex;
            justify-content: center;
            width: 100%;
            
            &__tag{
                border-radius: 4px;
                border: 1px solid #D7D2CC;
                padding: 8px 10px;
                display: flex;
                align-items: center;
                margin-right: 15px;
                margin-bottom: 15px;

                @include sm-max {
                    margin-bottom: 10px;
                }

                &:last-of-type{
                    margin-right: 0;
                }

                span{
                    color: #363636;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 19px;
                    margin-left: 10px;
                }
            }
        }

        .price-per-day{
            position: absolute;
            top: 20px;
            right: 20px;
            font-size: 28px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            display: flex;
            flex-direction: column;
            align-items: end;
            opacity: 0;
            pointer-events: none;
            transition: all ease-in-out 0.3s;

            @include sm-max {
                font-size: 22px;
            }

            span{
                font-size: 18px;

                @include sm-max {
                    font-size: 16px;
                }
            }
        }
    }

    &__info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-title{
            color: #363636;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            text-decoration: none;
            line-height: normal;
            margin-bottom: 10px;

            @include sm-max {
                font-size: 20px;
            }

            &:hover{
                text-decoration: underline;
            }
        }

        .product-price-wrapper{
            .product-price{
                display: flex;
                align-items: flex-end;

                .price{
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;

                    &-sale{
                        display: none;
                    }
                }

                &--sale{
                    .price{
                        &-sale{
                            font-size: 14px;
                            display: block;
                            opacity: 0.7;
                            text-decoration: line-through;
                            margin-right: 4px;
                        }
                    }
                }
            }
        }
    }
}